let mapleader = "\<Space>"
let maplocalleader = "\\"
 
nnoremap ; :
nnoremap , ;
nnoremap K i<CR><Esc> 
nnoremap Y y$
nnoremap <space> <NOP>

set surround
set multiple-cursors
set ReplaceWithRegister

set ideajoin
set ideastatusicon=gray

set clipboard=unnamedplus
set clipboard+=ideaput

set visualbell
set relativenumber
set number
