# Configure often-used aliases
if [[ "$OSTYPE" == "linux-android" ]]; then
	alias ls='ls -A'
else
	alias ls='ls -A --color=auto'
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
fi
if [[ "$OSTYPE" == "cygwin" ]]; then
	alias posh="powershell -File "
fi
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gca="git commit --amend"
alias gp="git push"
alias gu="git pull"

